@font-face{
  font-family: 'osakeregular';
  src: url('../fonts/osake.regular-webfont.woff2') format('woff2'),
       url('../fonts/osake.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'harukaze';
  src: url('../fonts/harukazesolid-webfont.woff2') format('woff2'),
       url('../fonts/harukazesolid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  pointer-events: none;
}
a{
  text-decoration: none;
  color: white;
}
a:hover {
  color: #535bf2;
}
header{
  background: linear-gradient(180deg, #11131b ,transparent);
  padding: 0.5vw 0vw;
  position: fixed;
  top: 0vw;
  backdrop-filter: blur(10px);
  z-index: 3;
  width: 100vw;
  font-size: 1.3vw;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'harukaze', cursive;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10vw;
}
.nav-item{
  font-size: 4.5vw;
  color: white;
}
.register-btn{
  margin-left: 0vw;
  position: relative;
  left: 19vw;
  height: 4vw;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-btn > .nav-item{
  color: coral;
}
.register-btn > .nav-item:hover{
  color: red;
}
body{
  background-color: #11131b;
  overflow-x: hidden;
  position: relative;
  z-index: -10;
  min-height: 130vw;
  cursor: none;
}
.anime{
  position: absolute;
  top: 15vw;
  left: 25vw;
  z-index: -3;
  height: 32vw;
  width: 70vw;
  isolation: isolate;
}
.anime > .stroke{
  position: relative;
  z-index: -2;
  height: 30vw;
  width: 55vw;
  object-fit: contain;
}
.anime > h2{
  position: absolute;
  bottom: 12.5vw;
  left: 8vw;
  z-index: 1;
  font-size: 10vw;
  color: white;
  font-family: 'osakeregular', cursive;
}
.anime > .goku{
  position: absolute;
  bottom: 0vw;
  left: 47vw;
  height: 33vw;
  width: auto;
  object-fit: contain;
  z-index: 2;
}
.anime > .gojo{
  position: absolute;
  bottom: 0vw;
  left: 34vw;
  height: 33vw;
  width: auto;
  object-fit: contain;
  z-index: -2;
}
.anime > .levi{
  position: absolute;
  bottom: 3vw;
  right: 55vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.anicon{
  position: absolute;
  top: 48vw;
  left: 22vw;
  z-index: -3;
  height: 32vw;
  width: 70vw;
}
.anicon > .konoyarro{
  position: absolute;
  top: 5vw;
  right: 57vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.anicon > .shinobu{
  position: absolute;
  top: 5vw;
  right: 8vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.anicon > .guts{
  position: absolute;
  top: 5vw;
  right: 65vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .roger{
  position: absolute;
  top: 5vw;
  right: 2vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.anicon > .yami{
  position: absolute;
  top: 5vw;
  right: -8vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .urahara{
  position: absolute;
  top: 5vw;
  right: 62vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
footer{
  position: absolute;
  background-color: #212231;
  top: 90vw;
  left: 6.5vw;
  width: 85vw;
  height: 30vw;
  border-radius: 4vw;
  color: #f6f6f9;
  z-index: -5;
}
footer > .kakashi{
  position: absolute;
  top: -1vw;
  left: 69vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
footer > .cowboy{
  position: absolute;
  top: 8vw;
  left: -2vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -2;
}
footer h5{
  position: absolute;
  font-size: 2.8vw;
  top: 2vw;
  left: 15vw;
  width: 30vw;
  line-height: 3.4vw;
}
footer p{
  position: absolute;
  font-size: 1.3vw;
  width: 27vw;
  top: 10vw;
  left: 15vw;
  color: #b3aca2;
}
.right{
  left: 41vw;
  width: 30vw;
  top: 18vw;
}
.p-right{
  left: 41vw;
  top: 22vw;
}
.contact{
  top: 7vw;
  left: 54vw;
  font-size: 2vw;
  color: #88bfff;
}
.cursor{
  position: fixed;
  background-color: white;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
body:hover ~ .cursor{
  visibility: visible;
  mix-blend-mode: normal;
}
.anime:hover ~ .cursor{
  visibility: visible;
  transform: scale(5);
  mix-blend-mode: difference;
}