@font-face{
  font-family: 'osakeregular';
  src: url('../fonts/osake.regular-webfont.woff2') format('woff2'),
       url('../fonts/osake.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'harukaze';
  src: url('../fonts/harukazesolid-webfont.woff2') format('woff2'),
       url('../fonts/harukazesolid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-window-dragging: no-drag;
  -webkit-user-drag: none;
  touch-action: none;
  -ms-touch-action: none;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
a:hover {
  color: #535bf2;
}
header{
  background: linear-gradient(180deg, #11131b ,transparent);
  padding: 0.5vw 0vw;
  position: fixed;
  top: 0vw;
  backdrop-filter: blur(10px);
  z-index: 3;
  width: 100vw;
  font-size: 1.3vw;
  overflow-x: hidden;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'harukaze', cursive;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10vw;
  left: 1vw;
}
.nav-item{
  font-size: 7.5vw;
  color: white;
  font-family: 'harukaze', cursive;
}
.register-btn{
  margin-left: 0vw;
  position: relative;
  left: 12vw;
  height: 4vw;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'harukaze', cursive;
}
.register-btn > .nav-item{
  color: coral;
}
.register-btn > .nav-item:hover{
  color: red;
}
body{
  background-color: #11131b;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: -10;
  min-height: 160vw;
  width: 100vw;
}
.anime{
  position: absolute;
  top: 15vw;
  left: 25vw;
  z-index: -3;
  height: 32vw;
  width: 70vw;
  isolation: isolate;
}
.anime > .stroke{
  position: relative;
  z-index: -2;
  height: 30vw;
  width: 55vw;
  object-fit: contain;
}
.anime > h2{
  position: absolute;
  bottom: 12.5vw;
  left: 3vw;
  z-index: 1;
  font-size: 10vw;
  color: white;
  font-family: 'osakeregular', cursive;
}
.anime > .goku{
  position: absolute;
  bottom: 0vw;
  left: 47vw;
  height: 33vw;
  width: auto;
  object-fit: contain;
  z-index: 2;
}
.anime > .gojo{
  position: absolute;
  bottom: 0vw;
  left: 34vw;
  height: 33vw;
  width: auto;
  object-fit: contain;
  z-index: -2;
}
.anime > .levi{
  position: absolute;
  bottom: 3vw;
  right: 55vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
/* .about{
  position: relative;
  top: 27vw;
  left: 10vw;
}
.about > .heading{
  color: #f6f6f9;
  font-size: 13vw;
  font-family: 'Harukaze', sans-serif;
  font-weight: 200;
}
.about > .stroke{
  height: 15vw;
  width: 20vw;
  object-fit: contain;
  position: relative;
  top: 19vw;
  left: -2vw;
  z-index: -1;
}
.about > .para{
  overflow-wrap: break-word;
  color: #b3aca2;
  font-size: 2.8vw;
  width: 71vw;
  height: 37vw;
  position: relative;
  left: 5vw;
  top: 1.5vw;
} */
.det{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 120vw;
  left: -5vw;
  display: flex;
  flex-direction: column;
}
.venue{
  position: relative;
  top: 27vw;
  left: 10vw;
}
.venue > .heading{
  color: #f6f6f9;
  font-size: 14vw;
  font-family: 'Harukaze', sans-serif;
  font-weight: 200;
}
.venue > .stroke{
  height: 15vw;
  width: 20vw;
  object-fit: contain;
  position: relative;
  top: 19vw;
  left: -2vw;
  z-index: -1;
}
.details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  top: -14vw;
  position: relative;
  left: 6vw;
}
#first{
  top: 8vw;
}
.details > .box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.5vw;
  height: 13vw;
  width: 27vw;
  position: relative;
  top: 1vw;
  left: -42vw;
  border-radius: 4vw 4vw 0 0;
  background-color: #535bf2;
}
.details > h1{
  color: white;
  font-size: 6vw;
  position: relative;
  top: -12vw;
  left: 0vw;
}
.details > p{
  color: #b3aca2;
  font-size: 3vw;
  position: relative;
  top: -12vw;
  left: -5vw;
}
.details > h2{
  color: white;
  font-size: 2vw;
  position: relative;
  top: -14vw;
  left: -42vw;
}
.details > .line{
  position: relative;
  top: -13vw;
  right: 14vw;
  height: 1vw;
  width: 83%;
  background-color: #535bf2;
}
.details2 > .box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.5vw;
  height: 13vw;
  width: 27vw;
  position: relative;
  top: 1vw;
  left: -42vw;
  border-radius: 4vw 4vw 0 0;
  background-color: #535bf2;
}
.details2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  top: -3vw;
  position: relative;
  left: 8vw;
}
.details2 > h1{
  color: white;
  font-size: 6vw;
  position: relative;
  top: -12vw;
  left: -7vw;
}
.details2 > p{
  color: #b3aca2;
  font-size: 3vw;
  position: relative;
  top: -12vw;
  left: -5vw;
}
.details2 > h2{
  color: white;
  font-size: 2vw;
  position: relative;
  top: -14vw;
  left: -42vw;
}
.details2 > .line{
  position: relative;
  top: -13vw;
  right: 14vw;
  height: 1vw;
  width: 83%;
  background-color: #535bf2;
}
.details2 > .box{
  left: 14vw;
}
.details2 > h1{
  left: -29vw;
}
.details2 > p{
  left: -21vw;
}
.details2 > h2{
  left: 15vw;
}
#fourth{
  top: -25vw;
}
#fifth{
  top: -36vw;
}
#sixth{
  top: -48vw;
}
#seventh{
  top: -60vw;
}
.anicon{
  position: absolute;
  top: 185vw;
  left: 21vw;
  z-index: -3;
  height: 32vw;
  width: 70vw;
}
.anicon > .konoyarro{
  position: absolute;
  top: 5vw;
  right: 57vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
.anicon > .shinobu{
  position: absolute;
  top: 8vw;
  right: 6vw;
  height: 29vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
.anicon > .guts{
  position: absolute;
  top: 5vw;
  right: 65vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .roger{
  position: absolute;
  top: 5vw;
  right: 2vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .yami{
  position: absolute;
  top: 5vw;
  right: -8vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -3;
}
.anicon > .urahara{
  position: absolute;
  top: 5vw;
  right: 62vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .edward{
  position: absolute;
  top: 8vw;
  right: 48vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
.anicon > .madara{
  position: absolute;
  top: -1vw;
  right: 14vw;
  height: 38vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .hashirama{
  position: absolute;
  top: 5vw;
  right: 43vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .suna{
  position: absolute;
  top: 5vw;
  right: 29vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .saitama{
  position: absolute;
  top: 6vw;
  right: 51vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .dabi{
  position: absolute;
  top: 6vw;
  right: 43vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 3;
  transform: rotateY(0.5turn);
}
.anicon > .jojo{
  position: absolute;
  top: 5vw;
  right: -6.4vw;
  height: 32vw;
  width: auto;
  object-fit: contain;
  z-index: -4;
}
.anicon > .arthur{
  position: absolute;
  top: 7vw;
  right: 17vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: -4;
}
.anicon > .giglamesh{
  position: absolute;
  top: 7vw;
  right: -4vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .thorfinn{
  position: absolute;
  top: 11vw;
  right: 19vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.anicon > .lelouch{
  position: absolute;
  top: 4vw;
  right: 33vw;
  height: 36vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection{
  position: absolute;
  top: 221vw;
  left: 0vw;
  z-index: -6;
  height: 5vw;
  width: 100vw;
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  opacity: 60%;
  overflow: hidden;
  mask-image: linear-gradient(transparent -6%, white 186%);
  -moz-mask-image: linear-gradient(transparent -6%, white 186%);
  -webkit-mask-image: linear-gradient(transparent -6%, white 186%);
  -ms-mask-image: linear-gradient(transparent -6%, white 180%);
}
.reflection > .roger{
  position: absolute;
  top: -26vw;
  right: 11vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .konoyarro{
  position: absolute;
  top: -26vw;
  right: 66vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
.reflection > .guts{
  position: absolute;
  top: -25vw;
  right: 74vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .shinobu{
  position: absolute;
  top: -24vw;
  right: 15vw;
  height: 29vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
.reflection > .yami{
  position: absolute;
  top: -26vw;
  right: 1vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -3;
}
.reflection > .urahara{
  position: absolute;
  top: -25vw;
  right: 71vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .edward{
  position: absolute;
  top: -23vw;
  right: 57vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 0;
}
.reflection > .madara{
  position: absolute;
  top: -33vw;
  right: 23vw;
  height: 38vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .hashirama{
  position: absolute;
  top: -25vw;
  right: 52vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .suna{
  position: absolute;
  top: -26vw;
  right: 38vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .saitama{
  position: absolute;
  top: -23vw;
  right: 60vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
.reflection > .dabi{
  position: absolute;
  top: -25vw;
  right: 52vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: 3;
  transform: rotateY(0.5turn);
}
.reflection > .jojo{
  position: absolute;
  top: -28vw;
  right: 2.6vw;
  height: 32vw;
  width: auto;
  object-fit: contain;
  z-index: -4;
}
.reflection > .arthur{
  position: absolute;
  top: -25vw;
  right: 26.6vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: -6;
}
.reflection > .giglamesh{
  position: absolute;
  top: -26vw;
  right: 5vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.reflection > .thorfinn{
  position: absolute;
  top: -22vw;
  right: 28vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.reflection > .lelouch{
  position: absolute;
  top: -23vw;
  right: 43vw;
  height: 30vw;
  width: auto;
  object-fit: contain;
  z-index: 1;
}
.ending{
  position: absolute;
  top: 229vw;
  left: 10vw;
  color: #f6f6f9;
  font-size: 1.9vw;
}
footer{
  position: absolute;
  background-color: #212231;
  top: 236vw;
  left: 6.5vw;
  width: 85vw;
  height: 30vw;
  border-radius: 4vw;
  color: #f6f6f9;
  z-index: -5;
}
footer > .kakashi{
  position: absolute;
  top: -1vw;
  left: 69vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -1;
}
footer > .cowboy{
  position: absolute;
  top: 8vw;
  left: -2vw;
  height: 31vw;
  width: auto;
  object-fit: contain;
  z-index: -2;
}
footer h5{
  position: absolute;
  font-size: 2.8vw;
  top: 2vw;
  left: 15vw;
  width: 30vw;
  line-height: 3.4vw;
}
footer p{
  position: absolute;
  font-size: 1.3vw;
  width: 27vw;
  top: 10vw;
  left: 15vw;
  color: #b3aca2;
}
.right{
  left: 41vw;
  width: 30vw;
  top: 18vw;
}
.p-right{
  left: 41vw;
  top: 22vw;
}
.contact{
  top: 7vw;
  left: 54vw;
  font-size: 2vw;
  color: #88bfff;
}
.cursor{
  position: fixed;
  background-color: white;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  visibility: hidden;
}
body:hover ~ .cursor{
  mix-blend-mode: normal;
}
.anime:hover ~ .cursor{
  visibility: visible;
  transform: scale(5);
  mix-blend-mode: exclusion;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000101;
  z-index: 99;
}
.loader {
  height: 50vw;
  width: 50vw;
  background: url(../images/loading.gif);
  background-size: cover;
  position: absolute;
  top: 25%;
  left: 25%;
}